.pop-bounce-enter {
  -webkit-animation: pop-bounce-in 0.3s cubic-bezier(0.3, 0, 0, 1.5);
  animation: pop-bounce-in 0.3s cubic-bezier(0.3, 0, 0, 1.5);
}

.pop-bounce-leave {
  -webkit-animation: pop-bounce-out 0.2s cubic-bezier(0.3, 0, 0, 1.5);
  animation: pop-bounce-out 0.2s cubic-bezier(0.3, 0, 0, 1.5);
}

@-webkit-keyframes pop-bounce-in {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop-bounce-in {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pop-bounce-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@keyframes pop-bounce-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

.pop-fade-enter {
  -webkit-animation: pop-fade-in 0.3s ease;
  animation: pop-fade-in 0.3s ease;
}

.pop-fade-leave {
  -webkit-animation: pop-fade-out 0.3s ease;
  animation: pop-fade-out 0.3s ease;
}

@-webkit-keyframes pop-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pop-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pop-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-enter {
  -webkit-animation: modal-in 0.2s ease;
  animation: modal-in 0.2s ease;
}

.modal-leave {
  -webkit-animation: modal-out 0.2s ease;
  animation: modal-out 0.2s ease;
}

@-webkit-keyframes modal-in {
  0% {
    opacity: 0;
  }
  100% {
  }
}

@keyframes modal-in {
  0% {
    opacity: 0;
  }
  100% {
  }
}

@-webkit-keyframes modal-out {
  0% {
  }
  100% {
    opacity: 0;
  }
}

@keyframes modal-out {
  0% {
  }
  100% {
    opacity: 0;
  }
}