@font-face {
  font-family: 'd-icon';
  src: url('iconfont.eot');
  src: url('iconfont.eot#iefix') format('embedded-opentype'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype'),
       url('iconfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "d-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-down:before { content: '\E901'; } /* '' */
.icon-arrow-left:before { content: '\E902'; } /* '' */
.icon-arrow-right:before { content: '\E903'; } /* '' */
.icon-arrow-up:before { content: '\E904'; } /* '' */
.icon-error:before { content: '\E905'; } /* '' */
.icon-info:before { content: '\E906'; } /* '' */
.icon-success:before { content: '\E907'; } /* '' */
.icon-warning:before { content: '\E908'; } /* '' */
.icon-close-circle:before { content: '\E909'; } /* '' */
.icon-close:before { content: '\E90A'; } /* '' */
.icon-confirm-circle:before { content: '\E90B'; } /* '' */
.icon-date-trigger:before { content: '\E90C'; } /* '' */