.markdown {
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: auto;
  max-width: 48em;
  color: #5c6b77;
  display: block;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: bold;
}

.markdown h1 {
  color: #000000;
  font-size: 28pt;
}

.markdown h2 {
  border-bottom: 1px solid #CCCCCC;
  color: #000000;
  font-size: 24px;
}

.markdown h3 {
  font-size: 18px;
}

.markdown h4 {
  font-size: 16px;
}

.markdown h5 {
  font-size: 14px;
}

.markdown h6 {
  color: #777777;
  background-color: inherit;
  font-size: 14px;
}

.markdown hr {
  height: 0.2em;
  border: 0;
  color: #CCCCCC;
  background-color: #CCCCCC;
}

.markdown p, .markdown blockquote, .markdown ul, .markdown ol, .markdown dl, .markdown li, .markdown table, .markdown pre {
  margin: 8px 0;
}

.markdown a, .markdown a:visited {
  color: #4183C4;
  background-color: inherit;
  text-decoration: none;
}

.markdown #message {
  border-radius: 6px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 60px;
  margin: 6px 0px;
}

.markdown button, .markdown #ws {
  font-size: 10pt;
  padding: 4px 6px;
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: #eee;
}

.markdown code, .markdown pre, .markdown #ws, .markdown #message {
  font-family: Monaco;
  font-size: 10pt;
  border-radius: 3px;
  background-color: #F8F8F8;
  color: inherit;
}

.markdown code {
  border: 1px solid #EAEAEA;
  margin: 0 2px;
  padding: 0 5px;
}

.markdown pre {
  border: 1px solid #CCCCCC;
  overflow: auto;
  padding: 4px 8px;
}

.markdown pre > code {
  border: 0;
  margin: 0;
  padding: 0;
}

.markdown table {
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
  background-color: #fff;
}

.markdown table td,
.markdown table th {
  border: 1px solid #e9e9e9;
  padding: 8px;
}

.markdown table th {
  background-color: #59677e;
  color: #fff;
}
