
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-datepicker-left-arrow:before { content: "\e600"; }
.icon-formfield-error:before { content: "\e606"; }
.icon-msgbox-warning:before { content: "\e601"; }
.icon-msgbox-success:before { content: "\e602"; }
.icon-msgbox-error:before { content: "\e603"; }
.icon-formfield-warning:before { content: "\e605"; }
.icon-datepicker-right-arrow:before { content: "\e604"; }
