:root {
  /* color */
  --color-font: #333;
  --color-font-weak: #666;
  --color-font-strong: #000;
  --color-font-mute: #999;

  --color-border: #ddd;

  --color-link: #0089dc;
  --color-link-hover: #ff8800;

  --color-bg: #fff;
  --color-bg-grey: #f9f9f9;
  --color-bg-highlight: #ffffde;

  --color-primary: #0089dc;
  --color-stress: #f74342;
  --color-tip: #ff9c00;
  --color-security: #5db423;

  /* width padding and margin */
  --width-container: 960px;
  --width-container-wide: 1180px;
  --gap-small: 5px;
  --gap-tiny: 2px;

  /* fonts */
  --font: PingFang SC, Lantinghei SC, Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  --font-header: PingFang SC, Lantinghei SC, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  --font-serif: Palatino, Optima, Georgia, serif;
  --font-code: Courier, 'Courier New', monospace;

  /* rotate 45deg in IE8 */
  --filter-rotate45: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476})";

  /* custom-media */
  @custom-media --pc-wide-viewport (width >= 1280px);
  @custom-media --pc-viewport (width >= 1024px);
  @custom-media --mobile-viewport (width <= 640px);
  @custom-media --2dpr (min-resolution: 2dppx);
}
