.msgbox {
  position: fixed;
  background-color: #fff;
  width: 465px;
  padding: 50px;
}

.msgbox-close {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #ccc;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.msgbox-status {
  float: left;
  width: 36px;
  height: 36px;
  font-size: 36px;
}

.msgbox-status.icon-msgbox-success {
  color: #94c852;
}

.msgbox-status.icon-msgbox-warning {
  color: #ff9c00;
}

.msgbox-status.icon-msgbox-error {
  color: #ff4248;
}

.msgbox-title,
.msgbox-message,
.msgbox-btns {
  margin-left: 50px;
}

.msgbox-title {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin-bottom: 8px;
}

.msgbox-message {
  color: #999;
  font-size: 14px;
  line-height: 24px;
}

.msgbox-btns {
  margin-top: 25px;
}

.msgbox-confirm {
  min-width: 112px;
}

.msgbox-cancel {
  text-decoration: underline;
  color: #999;
  background: transparent;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
}

.msgbox-cancel:focus {
  outline: none;
}
