/**
 * Modified from http://purecss.io/grids/
 */

.d-cell {
  display: inline-block;
  *display: inline; /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.d-cell-1,
.d-cell-1-1,
.d-cell-1-2,
.d-cell-1-3,
.d-cell-2-3,
.d-cell-1-4,
.d-cell-3-4,
.d-cell-1-5,
.d-cell-2-5,
.d-cell-3-5,
.d-cell-4-5,
.d-cell-5-5,
.d-cell-1-6,
.d-cell-5-6,
.d-cell-1-8,
.d-cell-3-8,
.d-cell-5-8,
.d-cell-7-8,
.d-cell-1-12,
.d-cell-5-12,
.d-cell-7-12,
.d-cell-11-12,
.d-cell-1-24,
.d-cell-2-24,
.d-cell-3-24,
.d-cell-4-24,
.d-cell-5-24,
.d-cell-6-24,
.d-cell-7-24,
.d-cell-8-24,
.d-cell-9-24,
.d-cell-10-24,
.d-cell-11-24,
.d-cell-12-24,
.d-cell-13-24,
.d-cell-14-24,
.d-cell-15-24,
.d-cell-16-24,
.d-cell-17-24,
.d-cell-18-24,
.d-cell-19-24,
.d-cell-20-24,
.d-cell-21-24,
.d-cell-22-24,
.d-cell-23-24,
.d-cell-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.d-cell-1-24 {
  width: 4.1667%;
  *width: 4.1357%;
}

.d-cell-1-12,
.d-cell-2-24 {
  width: 8.3333%;
  *width: 8.3023%;
}

.d-cell-1-8,
.d-cell-3-24 {
  width: 12.5000%;
  *width: 12.4690%;
}

.d-cell-1-6,
.d-cell-4-24 {
  width: 16.6667%;
  *width: 16.6357%;
}

.d-cell-1-5 {
  width: 20%;
  *width: 19.9690%;
}

.d-cell-5-24 {
  width: 20.8333%;
  *width: 20.8023%;
}

.d-cell-1-4,
.d-cell-6-24 {
  width: 25%;
  *width: 24.9690%;
}

.d-cell-7-24 {
  width: 29.1667%;
  *width: 29.1357%;
}

.d-cell-1-3,
.d-cell-8-24 {
  width: 33.3333%;
  *width: 33.3023%;
}

.d-cell-3-8,
.d-cell-9-24 {
  width: 37.5000%;
  *width: 37.4690%;
}

.d-cell-2-5 {
  width: 40%;
  *width: 39.9690%;
}

.d-cell-5-12,
.d-cell-10-24 {
  width: 41.6667%;
  *width: 41.6357%;
}

.d-cell-11-24 {
  width: 45.8333%;
  *width: 45.8023%;
}

.d-cell-1-2,
.d-cell-12-24 {
  width: 50%;
  *width: 49.9690%;
}

.d-cell-13-24 {
  width: 54.1667%;
  *width: 54.1357%;
}

.d-cell-7-12,
.d-cell-14-24 {
  width: 58.3333%;
  *width: 58.3023%;
}

.d-cell-3-5 {
  width: 60%;
  *width: 59.9690%;
}

.d-cell-5-8,
.d-cell-15-24 {
  width: 62.5000%;
  *width: 62.4690%;
}

.d-cell-2-3,
.d-cell-16-24 {
  width: 66.6667%;
  *width: 66.6357%;
}

.d-cell-17-24 {
  width: 70.8333%;
  *width: 70.8023%;
}

.d-cell-3-4,
.d-cell-18-24 {
  width: 75%;
  *width: 74.9690%;
}

.d-cell-19-24 {
  width: 79.1667%;
  *width: 79.1357%;
}

.d-cell-4-5 {
  width: 80%;
  *width: 79.9690%;
}

.d-cell-5-6,
.d-cell-20-24 {
  width: 83.3333%;
  *width: 83.3023%;
}

.d-cell-7-8,
.d-cell-21-24 {
  width: 87.5000%;
  *width: 87.4690%;
}

.d-cell-11-12,
.d-cell-22-24 {
  width: 91.6667%;
  *width: 91.6357%;
}

.d-cell-23-24 {
  width: 95.8333%;
  *width: 95.8023%;
}

.d-cell-1,
.d-cell-1-1,
.d-cell-5-5,
.d-cell-24-24 {
  width: 100%;
}